{% extends "layout.html" %}

<!-- PAGE -->
{% block page %}
    <h1>
        Click button to raise AJAX request.
    </h1>
    <button type="button">Hello Server!</button>
{% endblock %}
<!-- /PAGE -->

<!-- SCRIPTS -->
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $("button").click(function () {
                $.ajax({
                    url: "{% url 'sample1:hello' %}",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    failure: function (data) {
                        alert("Got an error dude");
                    }
                });
            })
        })
    </script>
{% endblock %}
<!-- /SCRIPTS -->
